.wrap {
    width: 85%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.container {
    padding-top: 0.5rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

@media (max-width: 800px) {
    .wrap {
        width: 90%;
    }
}