.title {
    text-align: center;
}

.technology {
    text-align: center;
}

.note {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.ingredients_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 8px;
}

.img {
    background: #bababa;
    object-fit: cover;
}

.caption {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.ingredients {
    padding: 0;
}

.table {
    width: 250px;
    border: none;
    border-collapse: collapse;
}

.left_col {
    text-align: left;
}

.right_col {
    text-align: right;
}

.list {
    margin: 8px auto;
    padding-left: 15px;
}

.technology_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
}

.notes_container {
    margin: 0 auto;
    width: 80%;
    border-top: 3px solid var(--main-color-light);
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }

    .title {
        margin: 0;
    }

    .notes_container {
        width: 100%;
    }
}