.wrapper {
    height: 50px;
    width: 100%;
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
