:root {
    --font: "EB Garamond";
    --main-color: #D4A200;
    --main-color-light: rgba(212, 162, 0, 0.2);
}

body {
    font-family: var(--font), serif;
    font-weight: 400;
}

::selection {
    background: var(--main-color-light);
}