.card_container {
    position: relative;
    height: 24rem;
    width: 20rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(49, 27, 0, 0.3);
}

.img {
    width: 100%;
    height: 13rem;
    border-radius: 5px;
    object-fit: cover;
}

.name {
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category {
    margin: 0;
    font-style: italic;
}

.ingredients {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.center {
    display: block;
    margin: 0 auto;
}

.button {
    width: 10rem;
    height: 2.5rem;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    text-align: center;
    align-content: center;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}