.card_container {
    position: relative;
    height: 395px;
    width: 340px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(49, 27, 0, 0.3);
}

.img {
    width: 100%;
    height: auto;
}

.name {
    margin: 0;
}

.category {
    margin: 0;
    font-style: italic;
}

.ingredients {
    font-weight: 500;
}

.center {
    display: block;
    margin: 0 auto;
}

.button {
    width: 160px;
    height: 40px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    text-align: center;
    align-content: center;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}